{% extends "saidapp/home.html" %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div style="text-align: auto; margin: auto;">
    <h1 style="text-align: center; margin: auto;">Смена пароля</h1>
    {% if validlink %}
        <p style="text-align: left; margin: auto;">Введите новый пароль и подтвердите его:</p>
        <form action="." method="post" >
            <div style="text-align: center; margin: auto;">  </div>
            {{ form.as_p }}
            {% csrf_token %}  
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>

    {% else %}
        <p style="text-align: center; margin: auto;">Ссылка уже была использована. Попробуйте ещё раз!</p>
    {% endif %}
</div>
{% endblock %}