{% extends "saidapp/home.html" %}

{% load static %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<div style="margin-left: 40%;"> 
    <h1>Забыли пароль?</h1>
    <p>Введите электронную почту для сброса пароля.</p>
    <form action="{% url 'password_reset' %}" method="post">


<fieldset class="module aligned">
    <div class="form-row field-email">
        
        <label for="id_email">E-mail: </label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" style="width: 30%">
    </div>        
    {% csrf_token %}
    <input type="submit" value="Сбросить пароль" style="width: 30%">
</fieldset>

    </form>
</div>
{% endblock %}
