{% extends 'saidapp/products.html' %}
{% load static %}
{% block title %}
Редактировать товар
{% endblock %}


{% block content %}
 <!--  <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <h1 style="color: darkgray">Редактировать товар </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        <p style="color: darkgray"> Название </p>
        {{ form.task }}<br>
        <p style="color: darkgray"> Описание </p>
        {{ form.price }}<br>
        <p style="color: darkgray"> Цена </p>
        {{ form.distributor }}<br>
        <p style="color: darkgray"> Поставщик </p>
        {{ form.type_good }}<br>
        <p style="color: darkgray"> Тип лекарства </p>
        <button type="submit" class="btn-secondary">Редактировать</button>
        <span>{{ error }}</span>
       </form>
{% endblock %}
 
