{% block navbar %}




  <body>

   
    <div id='navbar'>
      <ul class="nav nav-list"><li><a href="/">Главная страница</a></li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <li >
            <a href="/products/">Каталог</a>
          </li>
          <li >
            <a href="/markets/">Магазины</a>
          </li>
          <li >
            <a href="/clients/">Клиенты</a>
          </li>
          <li >
            <a href="/orders/">Заказы</a>
          </li>
          {% if user.is_anonymous %}
          <li class="nav-item">
            <a href="{% url 'login' %}">Авторизация</a>
          {% endif %}
                {% if user.is_authenticated %}
<form name="logout" style="text-align: center; margin: auto;">
      <a class="nav-link" style="text-align: center; margin: auto;" href="{% url 'login' %}">User: {{ user.get_username }}</a>
    <a class="btn btn-primary mt-1" href="{% url 'logout' %}" style="text-align: center; width: 100%">Выйти</a>
</form>{% endif %}
          </li>
                <form class="form-inline my-2 my-lg-0" style="text-align: right; display: flex;">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
        </form></ul></body>
{% endblock %}
</div>
