  {% extends 'saidapp/home.html' %}
{% block content %}
<form name="create">
      <a class="btn btn-primary mt-2" href="/create/" style="margin-left: 40%;">Добавить новый товар</a>
</form>
<p></p>
{% for el in tasks %}
    <div class="alert alert-warning mt-auto">
      <h3>Продукт: {{ el }} </h3>
      <p> Описание: {{ el.task }}</p>
      <p> Тип товара: {{ el.type_good }}</p>
      <p> Поставщик: {{ el.distributor }} </p>
      <p> Артикул: {{ el.id }} </p>
      <p> Цена: {{ el.price }} </p>
      <form name="edit">
      <a class="btn btn-primary mt-2" href="/edit/" style="margin-left: 40%;">Редактирровать</a>
</form>



    </div>
{% endfor %}
{% endblock %}